doctype html
head
    title Dmanager
    script(type='text/javascript' src="/native.js")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
    style.
      .black{
        height: 8vh;
        background-color: purple;
      }
body
  .container.black
