doctype html
head
    title Dmanager
    script(type='text/javascript' src="/static/native.js")
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mootools/1.6.0/mootools-core.min.js" type="text/javascript")
    style.
      progress{
          width: 50em;
        }
body
  .container
    .row
      h3 Enter links here
      form
        .row
          .six.columns
            label(for="uri")
              Enter URI
            input(class="u-full-width" type="text" placeholder="enter url here" id="unilink")
            button.primary(id="uni") Download
          .six.columns
            label(for="fpath")
              Enter fpath
            input(class="u-full-width" type="text" placeholder="enter fpath here" id="unipath")
      #uniname
      #unipercentage
      .row
        progress(id="uniprogess" value="0" max="100")
    .row
      h3 Enter youtube links here
    form
      .row
        .six.columns
          label(for="uri")
            Enter URI
          input(class="u-full-width" type="text" placeholder="enter url here" id="youtubelink")
          button.primary(id="youtube") Download
      .row
        .six.columns
          p Info Hash
          p#youtubeHash
      .row
        progress(id="youtubeprogress" value="0" max="100")
      #youtubename
      #youtubepercentage

