include root.pug
body
  .boxie
    h1 Dmanager.js
  .boxie
    h4 Enter links
  .boxie
    div
      label(for="uri")
        Enter URI
      input#unilink(class="u-full-width" type="text" placeholder="Enter URL here")
  .boxie
    div
      label(for="fpath")
        Enter file path
      input#unipath(class="u-full-width" type="text" placeholder="Enter file path")
  .boxie
    button.primary#uni Download
  .boxie
    #uniname
  .boxie
    #unipercentage
  .boxie
    progress#uniprogress(value="0" max="100")
  hr
  .boxie
    h4 Enter youtube links here
  .boxie
    form
      div
        label(for="uri")
          Enter URI
        input#youtubelink("u-full-width" type="text" placeholder="Enter URL here")
  .boxie
    button.primary#youtube Download
  .boxie
    progress(id="youtubeprogress" value="0" max="100")
  .boxie
    a#youtubeHash More Info

