doctype html
head
    title Dmanager
    script(type='text/javascript' src="/static/native.js")
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js")
    link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" type="text/css")
body
  .container
    form(method="post" action="/add/uni")
      .row
        h3 Enter links here
      .row
        .six.columns
          label(for="uri")
            Enter URI
          input(class="u-full-width" type="text" placeholder="enter url here" id="unilink")
        .six.columns
          label(for="fpath")
            Enter fpath
          input(class="u-full-width" type="text" placeholder="enter fpath here" id="unipath")
          button.primary(id="uni") Download
      .row
        .progress
    .row
      h3 Enter youtube links here
    form(method="post" action="/add/youtube")
      .row
        .six.columns
          label(for="uri")
            Enter URI
          input(class="u-full-width" type="text" placeholder="enter url here" id="youtubelink")
          button.primary(id="youtube") Download
      .row
        .progress
