include root.pug
body
  .container
    .row
      h3 Enter links here
      form
        .row
          .six.columns
            label(for="uri")
              Enter URI
            input(class="u-full-width" type="text" placeholder="enter url here" id="unilink")
            button.primary(id="uni") Download
          .six.columns
            label(for="fpath")
              Enter fpath
            input(class="u-full-width" type="text" placeholder="enter fpath here" id="unipath")
      #uniname
      #unipercentage
      .row
        progress(id="uniprogess" value="0" max="100")
    .row
      h3 Enter youtube links here
    form
      .row
        .six.columns
          label(for="uri")
            Enter URI
          input(class="u-full-width" type="text" placeholder="enter url here" id="youtubelink")
          button.primary(id="youtube") Download
      .row
        .six.columns
          a#youtubeHash Enter
      .row
        progress(id="youtubeprogress" value="0" max="100")
      #youtubename
      #youtubepercentage

