include root.pug
body
  script.
    setTimeout(()=>location.reload(), 5 * 1000)
  .boxie
    h1 Dmanager.js
  .boxie
    table(class="u-full-width")
      thead
        tr
          each val, key in results
            th= key
      tbody
        tr
          each val, key in results
            td= val
    -var progress = Math.round((results.offset / results.size) * 100)
  .boxie
    progress(id="progress" value=progress max="100")
  .boxie
    h2= progress + "%"
