include root.pug
body
  .boxie
    each result in results
      table(class="u-full-width")
        thead
          tr
            each val, key in result
              th= key
        tbody
          tr
            each val, key in result
              td= val
      -var progress = (results.offset / results.size) * 100
      progress(id="progress" value=progress max="100")
